.button-common{
  color: #1A5EAF !important;
  border-color: #1A5EAF !important;

  &--primary{
    color: #FFF !important;
    background-color: #1A5EAF !important;
  }

  &--primary:hover{
    background-color: #1A5EAF !important;
  }

  &--disabled{
    background-color: gray !important;
  }

  &--disabled:hover{
    cursor: not-allowed !important;
  }
}

.button-common:hover{
  background-color: #1A5EAF !important;
}