@import '../../../../../../assets/media.scss';

.form-user{
  width: 60%;

  @include respond-below(lg) {
    width: 80%;
  }

  @include respond-below(md2) {
    width: 85%;
  }

  @include respond-below(md) {
    width: 95%;
  }
}