@import '../../../assets/media.scss';

.form-tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 35px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #F8F0FA;
  cursor: pointer;

  &__selected{
    background-color: #572364;
  }

  &__text{
    @include respond-below(md) {
      font-size: 10px !important;
    }
  }

  &__disabled{
    cursor: not-allowed;
    background-color: #e7e6e6;
    color: #afabab;
  }
}
